.home-text h1 {
    font-size: 3rem;
    font-weight: 500;
    /* color: #fff;
    line-height: 1.1;
    margin: 0 0 8px; */
}
.navbar ul li a{
    font-size: 10px;
    margin: 0px;
    padding: 0px 5px;
}